menuconfig OPPO_FINGERPRINT
	bool "OPPO fingerprint"
	depends on SPI_MASTER
	help
	  Say Y here to enable OPPO fingerprint support

if OPPO_FINGERPRINT

config OPPO_FINGERPRINT_QCOM
       default n
       tristate "Fingerprint base on QCOM"

endif #OPPO_FINGERPRINT
